@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,200;1,400&display=swap');


body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fontStyle {
  font-family: 'Montserrat', sans-serif;
}
